body{
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.home{
    background-color: rgb(9, 71, 204);
    height: 100%;
   

}
.conteniar{
    margin: 0 7rem;
    
   
    
    
    height: 100%;


}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    
   
}
.logo{
    width: 60px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    
    list-style: none;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.vont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
   
    width: 100%;
}
.img2{
   
    height: 500px ;
    animation: moo 2s ease-out;
}
.txt{
    padding: 20px;
}
.txt h2{
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    width: 50%;
    text-transform: uppercase;
    color: aliceblue;
}

.txt p{
    
    width: 40%;
    color: aliceblue;
    text-transform: capitalize;
    letter-spacing: 2px;

}
.btn{
    background-color: antiquewhite;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 30px;
    margin: 50px;

    
}
.peps2{
    display: block;
    margin: auto;
    width: 200px;
    animation: moo3 2s ease-out;
}
.social{

    padding: 22px;
    animation: moo2 2s ease-out;
}
.social a{
    font-size: 30px;
    display: block;
    margin: 20px;
   

}
@keyframes moo{
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }

}
@keyframes moo2{
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes moo3{

    0%{
        transform: translatey(300px);
    }
    100%{
        transform: translatey(0px);
    }
}






   